@model dkPortfolio.Models.Option
@{
    ViewBag.Title = "Option";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="icerik">
    <div class="option-icerik">
        <form action="/Admin/SOption" method="post">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Book Text</span>
                <input type="text" class="form-control" name="oBook" value="@Model.oBook" aria-describedby="basic-addon1">
            </div><br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">User Text</span>
                <input type="text" class="form-control" name="oUser" value="@Model.oUser" aria-describedby="basic-addon1">
            </div><br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Fire Text</span>
                <input type="text" class="form-control" name="oFire" value="@Model.oFire" aria-describedby="basic-addon1">
            </div><br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">Globe Text</span>
                <input type="text" class="form-control" name="oGlobe" value="@Model.oGlobe" aria-describedby="basic-addon1">
            </div><br />
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1">The Thinking</span>
                <input type="text" class="form-control" name="oThinking" value="@Model.oThinking" aria-describedby="basic-addon1">
            </div><br />
            <button type="submit" class="btn btn-default" aria-label="Left Align">
                Save
            </button>
        </form>
    </div>
    <br />
    <div class="option-icerik">

        <table class="table">
            <tr>
                <th>Technology</th>
                <th>Value</th>
                <th>Edit</th>
            </tr>
            @{
                List<dkPortfolio.Models.Progress> list = ViewBag.list;
            }
            @foreach (dkPortfolio.Models.Progress item in list)
            {
                <tr>
                    <td>@item.Data</td>
                    <td>@item.Value</td>
                    <td>
                        <form action="/Admin/DeleteP?id=@item.ID" method="post">
                            <button class="btn btn-default" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            }

            <form action="/Admin/SaveP" method="post">
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">The Technology</span>
                            <input type="text" class="form-control" name="Data" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <input type="text" class="form-control" name="Value" aria-describedby="basic-addon1">

                    </td>
                    <td>
                        <button type="submit" class="btn btn-default" aria-label="Left Align">Add</button>
                    </td>
                </tr>
            </form>

        </table>

    </div>
</div>